:root {
  --transition-1: all 0.3s ease-in-out;
  --transition-2: all 0.2s ease-in-out;
}

html {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

.no_result {
  margin: 0.3rem;
  padding: 0.3rem 0.5rem;
  list-style: none;
  text-align: left;
  font-size: 1rem;
  color: #212121;
  transition: all 0.1s ease-in-out;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  outline: none;
}

h1 {
  color: rgba(255, 122, 122, 1);
  transition: var(--transition-1);
}

h1 > a {
  text-decoration: none;
  color: rgba(255, 122, 122, 1);
}

h1 > a::selection {
  color: rgb(255, 122, 122);
}

h4 {
  margin-bottom: 5px;
  color: #ffc6c6;
}

h4::selection {
  color: #ffc6c6;
}

.github-corner {
  transition: var(--transition-1);
}

.mode {
  margin-top: 20px;
}

.toggle {
  display: flex;
  /* position: absolute; */
  border: 1px solid #ffc6c6;
  height: 35px;
  width: 120px;
  border-radius: 50px;
  justify-content: flex-start;
  align-content: center;
  transition: var(--transition-2);
}

.toggler {
  display: grid;
  cursor: pointer;
  background-color: rgba(255, 198, 198, 1);
  color: #fff;
  height: 25px;
  width: 60px;
  border-radius: 50px;
  margin: 5px;
  text-align: center;
  align-content: center;
  align-self: flex-start;
  transition: var(--transition-2);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
}

.toggler:hover {
  width: 65px;
  background-color: rgba(255, 122, 122, 0.7);
}

.toggler::selection {
  color: #fff;
}

.strict {
  display: inline;
}

.loose {
  display: inline;
}

.selection {
  margin-top: 25vh;
  font-size: 2rem;
  font-weight: bold;
  color: #ffc6c6;
  transition: var(--transition-1);
}

.selection::selection {
  color: #64ceaa;
}

.footer {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 2rem;
  color: rgb(147, 147, 147);
  justify-content: center;
  transition: var(--transition-1);
}

.footer > div > a {
  text-decoration: none;
  color: rgb(147, 147, 147);
}

.footer > div > a::selection {
  color: rgba(255, 122, 122, 1);
}

.copyrights {
  font-size: 0.8rem;
}

.copyrights::selection {
  color: rgb(147, 147, 147);
}

.copyrights > a::selection {
  color: rgb(147, 147, 147);
}

.copyrights > *::selection {
  color: rgb(147, 147, 147);
}

@media only screen and (max-width: 600px) {
  .selection {
    margin-top: 15vh;
  }

  .footer {
    bottom: 1.5rem;
    transition: var(--transition-1);
  }
}

@media only screen and (max-height: 500px) {
  .footer {
    display: none;
  }
}
